In [2]:
import os 
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [4]:
df1 = pd.DataFrame({'key':['foo','bar','baz','foo'], 'value':[1,2,3,5]})
df1

   key  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [5]:
df2 = pd.DataFrame({'key':['foo','bar','baz','foo'], 'value':[5,6,7,8]})
df2

   key  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [8]:
pd.merge(df1,df2, on='key', how='inner')

   key  value_x  value_y
0  foo        1        5
1  foo        1        8
2  foo        5        5
3  foo        5        8
4  bar        2        6
5  baz        3        7

In [10]:
df1.merge(df2, on='key', how='inner')

   key  value_x  value_y
0  foo        1        5
1  foo        1        8
2  foo        5        5
3  foo        5        8
4  bar        2        6
5  baz        3        7

공통된 키 값이 없을 때

In [22]:
df3 = pd.DataFrame({'lkey':['foo','bar','baz','foo'], 'value':[1,2,3,5]})
df3

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [23]:
df4 = pd.DataFrame({'rkey':['foo','bar','baz','foo'], 'value':[5,6,7,8]})
df4

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [24]:
pd.merge(df3,df4, left_on='lkey', right_on='rkey', how='inner')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

접미사 바꾸기

In [26]:
pd.merge(df3,df4, left_on='lkey', right_on='rkey', how='inner',suffixes=['_left','_right'])

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

겹치는 키 값이 없는 경우

In [28]:
df5 = pd.DataFrame({'key':['foo1','bar','baz','foo'], 'value':[5,6,7,8]})
df5

    key  value
0  foo1      5
1   bar      6
2   baz      7
3   foo      8

In [29]:
df6 = pd.DataFrame({'key':['foo','bar','baz','foo2'], 'value':[5,6,7,8]})
df6

    key  value
0   foo      5
1   bar      6
2   baz      7
3  foo2      8

In [31]:
pd.merge(df5,df6,on='key', how='inner')

   key  value_x  value_y
0  bar        6        6
1  baz        7        7
2  foo        8        5

In [33]:
# left 키 값 기준으로 merge
pd.merge(df5,df6,on='key', how='left')

    key  value_x  value_y
0  foo1        5      NaN
1   bar        6      6.0
2   baz        7      7.0
3   foo        8      5.0

In [34]:
# right 키 값 기준으로 merge
pd.merge(df5,df6,on='key', how='right')

    key  value_x  value_y
0   foo      8.0        5
1   bar      6.0        6
2   baz      7.0        7
3  foo2      NaN        8

In [35]:
# 모든 키값을 가져온다.
pd.merge(df5,df6,on='key', how='outer')

    key  value_x  value_y
0  foo1      5.0      NaN
1   bar      6.0      6.0
2   baz      7.0      7.0
3   foo      8.0      5.0
4  foo2      NaN      8.0

In [38]:
df1.join(df2,how='outer')

ValueError: columns overlap but no suffix specified: Index(['key', 'value'], dtype='object')

In [39]:
da1 = np.array([1,2,3,5]).reshape(-1,1)
da2 = np.array([5,6,7,8]).reshape(-1,1)

In [41]:
print(da1.shape)
print(da2.shape)

(4, 1)
(4, 1)

In [47]:
da3 = np.concatenate((da1,da2),axis=1)

In [48]:
da3.shape

(4, 2)

In [44]:
da4 = np.concatenate((da1,da2),axis=0)

In [45]:
da4.shape

(8, 1)

In [49]:
df1 = pd.DataFrame({'value':[1,2,3,5]},index=['foo1','bar','baz','foo'])
df2 = pd.DataFrame({'value':[5,6,7,8]},index=['foo','bar','baz','foo2'])

In [50]:
pd.concat([df1,df2],axis=0,join='inner')

      value
foo1      1
bar       2
baz       3
foo       5
foo       5
bar       6
baz       7
foo2      8

In [51]:
pd.concat([df1,df2],axis=1,join='inner')

     value  value
bar      2      6
baz      3      7
foo      5      5