In [81]:
dictionary = {} # Key : Value

In [82]:
list = [] # 수정, 삽입, 삭제 가능

In [83]:
tuple = () # 수정, 삽입, 삭제 불가능

In [84]:
heros = ['스파이더맨','배트맨','호크아이','아이언맨','헐크','토르']

In [85]:
heros.append('비젼')
heros.remove('배트맨')
heros

['스파이더맨', '호크아이', '아이언맨', '헐크', '토르', '비젼']

In [86]:
num = 0
for hero in heros:
    num += len(hero)
print(num)

19

In [87]:
dictionary["학생A"] = ['이름','나이','학번','번호','키']

In [88]:
dictionary['학생A']

['이름', '나이', '학번', '번호', '키']

In [89]:
set1 = {1,2,3,10,3,3,3,4,4,5,7,5,5,5}
set2 = {1,2,3,4,5}
set1-set2

{7, 10}

In [90]:
def func(a,b):
    return a+b

func(10,3)

13

In [91]:
def address():
    print('한국공학대학교')
    print('산기대학로 237')
    print('종합 교육관 415호')
address()

한국공학대학교
산기대학로 237
종합 교육관 415호

In [92]:
def mul(num1,num2):
    return num1*num2
mul(2,5)

10

In [93]:
def print_star(n):
    for i in range(n):
        for k in range(n):
            print("* ",end='')
        print('')

In [94]:
print_star(10)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [95]:
import math

def cal(n):
    x = n**2 - n - 1
    return x
    
def find_sol(num1, num2):
    while(True):
        if cal(num1) *cal(num2) >0:
            print("해가 없습니다")
            break
        else:
            mid = (num1 +num2)/2
        
            if cal(num1)*cal(mid) <0:
                num2 = mid
                cal_mid = cal(num2)
            else:
                num1 = mid
                cal_mid = (num1)
                
            if( cal_mid <0.0001):
                return mid
        
result = find_sol(0, 3)
cal_re = cal(result)

print('{:.5f},{:.4f}'.format(result, cal_re))

1.61806,0.0001

In [96]:
def triple_adder(a,b,c=10):
    return a+b+c

a = triple_adder(2,8)
b = triple_adder(1,2,3)
print("{},{}".format(a,b))

20,6

In [98]:
k =10
def _add(a,b):
    c = a+b
    k=2
    c = c*k
    return c,k
    
d= _add(2,3)
print(d)

(10, 2)

In [102]:
def factorial(n):
    if(n==1):
        return 1
    else:
        return n*factorial(n-1)
factorial(8)

40320

In [106]:
def fibo(n):
    if(n==0 or n==1):
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
fibo(10)

89