### for문 예시  
for(시작,종단,반복)

In [2]:
sum = 0
for i in range(10):
    sum +=i
    
print("{}".format(sum))

45

### while문 예시

In [6]:
k = 0

while (k<5):
    print("Hello world!")
    k+=1

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

###  break는 반복문 종료, continue는 반복하던 것 건너뛰기

In [10]:
i=0
while(True):
    if(i >11):
        print("{}".format(i))
        break
    else:
        i+=1
        continue
        print(k)

12

리스트도 하나의 객체다

In [25]:
letters = 'letter'
list = ['l','e','t','t','e','r']
print('letters_type:{},list_type:{}'.format(type(letters), type(list)))

letters_type:<class 'str'>,list_type:<class 'list'>

In [26]:
heros = ['닥터','헐크','아이언맨','위치','토르']
heros.append('호크아이')
heros

['닥터', '헐크', '아이언맨', '위치', '토르', '호크아이']

In [27]:
heros.insert(2,"로다주")
heros

['닥터', '헐크', '로다주', '아이언맨', '위치', '토르', '호크아이']

In [28]:
heros.remove('로다주')
heros

['닥터', '헐크', '아이언맨', '위치', '토르', '호크아이']

In [29]:
del heros[1]
heros

['닥터', '아이언맨', '위치', '토르', '호크아이']

del 변수명 -> 그 변수의 삭제 // 리스트 요소면 요소대로, 리스트 변수면 리스트 대로 삭제

In [32]:
del heros
heros

NameError: name 'heros' is not defined

In [33]:
heros = ['닥터','헐크','아이언맨','위치','토르']

for hero in heros:
    print(hero)

닥터
헐크
아이언맨
위치
토르

[] 는 리스트 , ()는 튜플이다  
리스트는 삽입 삭제 수정 등이 가능하지만, 튜플은 수정이 불가능하다

In [34]:
heros = ('닥터','헐크','아이언맨','위치','토르')
heros[1]

'헐크'

딕셔너리는 인덱스가 존재하지 않고 값을 키값으로만 가능하다.

In [35]:
phone_book = {}
phone_book['닥터'] = '010-7474-9999'
phone_book['헐크'] = '010-7473-8888'
phone_book['위치'] = '010-7472-7777'
phone_book['토르'] = '010-7471-6666'

In [36]:
phone_book['닥터']

'010-7474-9999'

In [38]:
a={}
a['학생A'] = ['010-4778-8981','A', 183]
a['학생B'] = ['010-4732-8934','A+', 180]

딕셔너리 값으로 리스트를 넣으면 전체 요소 저장 가능하며 수정 가능  
BUT 값으로 튜플을 넣으면 수정이 불가능해진다

In [42]:
a['학생A'][1] = 'C+'
a['학생A'][1]

'C+'

집합은 {}으로 생성 가능하며 중복이 없는 순서 없는 집합이다

In [52]:
x = {1,2,3,4,5,6}
y = {1,1,2,2,3,3,4,4,5}
print('{} {}'.format(x,y).split(" "))

['{1,', '2,', '3,', '4,', '5,', '6}', '{1,', '2,', '3,', '4,', '5}']

In [53]:
x[1]

TypeError: 'set' object is not subscriptable